<!DOCTYPE html>
<html>
  <head>
    <title>PasswordlessExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>

  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Login', users_sign_in_path %></li>
        <li><%= link_to 'Logout', users_sign_out_path, method: :delete %></li>
      </ul>
    </nav>
  </header>
  <%= render partial: 'layouts/flash_notices' %>
  
    <%= yield %>
  </body>
</html>
